{% extends 'main/base.html' %}

{% block title %}<h1>Контент главной страницы</h1>{% endblock %}

{% block content %}
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
<img class="cat" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat">
HELLO WORLD
{% endblock %}


