#!/bin/python3
import subprocess
from os import path, chmod
#import argparse

CLIENTS = 200

def cmd(command):
    subprocess.run(command, shell=True)

try:
    import numpy as np
except (ImportError, ImportWarning):
    cmd('sudo apt-get install -y python3-numpy')
    import numpy as np


script = """
#!/bin/bash
clients="200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200 200"
t=30
dir=test
mkdir $dir
for c in $clients; do
    echo "pgbench_${c}_${t}.txt"
    echo "start test: "`date +"%Y.%m.%d_%H:%M:%S"` >> "${dir}/pgbench_${c}.txt"
    pgbench -h localhost -p 5440 -U user0 --random-seed=13 -T $t -j $c -c $c test_parsec >> "${dir}/pgbench_result.txt"
    echo "stop test: "`date +"%Y.%m.%d_%H:%M:%S"` >> "${dir}/pgbench_${c}.txt"
done
"""


def test_run(clients, repeat):
    repeat_list = [str(clients) for i in range(repeat)]
    repeat_str = ' '.join(repeat_list)
    
    #Настройка и запуск
    with open('start_test.sh', 'w') as test_script:
        test_script.write(script)
    chmod('start_test.sh', 0o755)
    cmd('sudo bash start_test.sh')
    cmd('cat test/pgbench_result.txt | grep including | awk \'{print$3}\' >> result_testing.txt')

    if path.isfile('result_testing.txt'):
        with open('result_testing.txt', 'r') as r:
            raw_results = r.read().split('\n')
            tps_values = np.array([int(float(x)) for x in raw_results if x.replace('.', '', 1).isdigit()])
    else: print('Файл с результатами отсутствует'); exit(1)
    print(f'Общий список всех результатов:\n{tps_values}')


    #Лимит группы по количеству элементов, принимаемой к расчетам, в %
    valid_values_percent = 50
    #Лимит отклонения, в %
    percent_limit = 2 #1.5

    def check_value(value, all_values, percent_limit):
        diffs = np.abs((all_values - value) / value * 100)
        return np.sum(diffs <= percent_limit) >= len(all_values) / 2


    valid_values = [value for value in tps_values if check_value(value, tps_values, percent_limit)]
    novalid_values = [value for value in tps_values if value not in valid_values]
    print('Используемые в расчетах значения:', valid_values)
    print('Отсеянные значения:', novalid_values)

    if len(valid_values) >= len(tps_values) * valid_values_percent / 100:
        mean_cleaned = np.mean(valid_values)
        print(f"Среднее значение без учета аномалий: {int(mean_cleaned)}")
    else:
        print('Нет подходящих групп значений для расчета среднего')


test_run(CLIENTS, 20)


