#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -d debian/allta-vm/usr/bin
	install -m 755 bootstrap/run.sh debian/allta-vm/usr/bin/allta-vm