# Окружение
.env.*

# Кешированные файлы
__pycache__/


# Файлы для отладки
start.sh
tmp

# Файлы сборки
cli/allta_vm/bootstrap/python
cli/allta_vm/debian/allta-vm
cli/allta_vm/bootstrap/Python-3.12.9
cli/allta_vm/bootstrap/Python-3.12.9.tgz
cli/*.deb
start.sh

.venv/
