<p>
    <table border="1">
      <tbody>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Astra version</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{av}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Kernel</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{kernel}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Package</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{package_name}_{package_vers}</td>
        </tr>
        <tr>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Params</b></td>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">
             <ul>
                 <li>blocksize: 4k</li>
                 <li>rw: randrw</li>
                 <li>runtime: 60s</li>
                 <li>ioengine: libaio</li>
                 <li>iodepth: 256</li>
                 <li>numjobs: 3</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>ARM</b></td>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">
              <a href="https://life.astralinux.ru/pages/viewpage.action?pageId=192234259"> подробнее </a>
              <ul>
                  <li>Processor: {arm_proc}</li>
                  <li>Memory: {arm_mem}</li>
                  <li>Storage: {arm_st}</li>
              </ul>
          </td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Lead time</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{lead_time}</td>
        </tr>
      </tbody>
    </table>
</p>