[defaults]
ask_sudo_pass = False
become_method = sudo
become_ask_pass = False
host_key_checking    = false
inventory            = ./inventories/middle_hosts.yml
log_path             = /tmp/ansible.log
deprecation_warnings = false
roles_path = roles
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining         = True
ssh_args           = -o ControlMaster=auto -o ControlPersist=2m -o GlobalKnownHostsFile=/dev/null -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
transfer_method    = piped
#retries            = 10

