{% extends 'main/base.html' %}

{% block title %}Темы
    <!-- <img class="content" src="{{ url_for('static', filename='img/cat.png') }}" alt="cat"> -->
{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Тема</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.user.name }}</td>
                <td>{{ post.subject }}</td>
                <td>
                    <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-sm btn-secondary">Ред.</a>
                    <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-sm btn-danger">Удалить.</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
<!-- <th scope="col">Студент</th> -->