alembic
atlassian-python-api
bcrypt
beautifulsoup4
blinker
Brotli
certifi
cffi
charset-normalizer
click
ConfigArgParse
contourpy
cryptography
cycler
Deprecated
docker
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
fonttools
gevent
geventhttpclient
greenlet
idna
itsdangerous
Jinja2
jmespath
kiwisolver
locust
Mako
MarkupSafe
matplotlib
msgpack
numpy
oauthlib
packaging
pandas
paramiko
pillow
psutil
psycopg2
psycopg2-binary
pycparser
PyNaCl
pyparsing
python-dotenv
pytz
pyzmq
requests
requests-oauthlib
six
soupsieve
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
WTForms
zope.event
zope.interface
redis
gunicorn
python-dateutil
