atlassian-python-api
bcrypt
beautifulsoup4
blinker
Brotli
certifi
cffi
charset-normalizer
click
ConfigArgParse
contourpy
cryptography
cycler
Deprecated
docker
Flask
Flask-Bcrypt
Flask-Cors
fonttools
gevent
geventhttpclient
greenlet
idna
itsdangerous
Jinja2
jmespath
kiwisolver
locust
Mako
MarkupSafe
msgpack
oauthlib
packaging
paramiko
pillow
psutil
pycparser
PyNaCl
pyparsing
python-dotenv
pytz
pyzmq
requests
requests-oauthlib
six
soupsieve
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
zope.event
zope.interface
gunicorn
python-dateutil
pandas
numpy
scikit-learn
scipy
matplotlib
