<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bendiks</title>
<link rel="icon" href="http://10.177.103.10:8000/static/fav_or.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body style="background-color: #00121a ;">
<h3 style="background-color: #ff7b00 ; color: #1e1d22 ;">Bendiks</h3>


<style>
  .dropdown-item {
    color: white; 
}
  .dropdown-menu {
    background-color: #292d30;
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ff7b00;
    color: white;
}
</style>
<ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Версии</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ brest_url }}">Брест</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">About project</a>
  </li>
</ul>
<div id="loading-spinner" class="spinner-border text-secondary" role="status" style="display: none;">
  <span class="visually-hidden">Loading...</span>
</div>
<script>
  function update(version) {
      document.getElementById('loading-spinner').style.display = 'block';
 
      fetch('/update/' + version, {
          method: 'GET'
      })
      .then(response => response.text())
      .then(data => {
          document.getElementById('loading-spinner').style.display = 'none';
          console.log('Update completed:', data);
      })
      .catch((error) => {
          document.getElementById('loading-spinner').style.display = 'none';
          console.error('Error:', error);
      });
  }
  </script>


<div class="container-fluid text-center">
  <div class="row align-items-left">
    <div class="col-3">
      <div class="card text-bg-dark mb-3" style="max-width: 27rem;">
        <div class="card-header" style="background: #002534;">Список подготовленных компонентов</div>
        <div class="card-body">
          <p class="card-text">{{ test_list }}</p>
          <p class="card-text">{{ releas_list }}</p>
          <p class="card-text">{{ kernel_list }}</p>
        </div>
      </div>
      

      <style>
        .custom-bg {
            background-color: #9ea5a7; 
        }
      </style>
      <div class="card text-bg-dark mb-3" style="max-width: 27rem;">
        <div class="card-header" style="background: #002534; color: #f8f9f9 ;">Настройки</div>
        <div class="card-body">
          <form method="POST" action="/{{ main_url }}">
            <div class="card-header">Доступные тесты</div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
              {% for value in options %}
                    <div style="text-align: right;">
                      <label for="{{ value }}">{{ value }}</label>
                      <input type="checkbox" id="{{ value }}" name="options" value="{{ value }}"><br>
                    </div>
                  {% endfor %}
            </div>
            <!-- <div class="card-header" style="background: #9ea5a7;">Доступные Релизы</div> -->
            <div class="card-header">Доступные Релизы</div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">             
                {% for value in releases %}
                    <div style="text-align: right;">
                      <label for="{{ value }}">{{ value }}</label>
                      <input type="radio" id="{{ value }}" name="releas" value="{{ value }}"><br>
                    </div>
                {% endfor %}
            </div>
            <div class="card-header">Доступные ядра</div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">             
                {% for value in kernels %}
                    <div style="text-align: right;">
                      <label for="{{ value }}">{{ value }}</label>
                      <input type="radio" id="{{ value }}" name="kernel" value="{{ value }}"><br>
                    </div>
                {% endfor %}
            </div>
            <br></br>

            <style>
              #mainSaveButton {
                  background-color: #292d30; 
                  color: white; 
              }
              #mainSaveButton:hover {
                  background-color: #ff7b00; 
              }             
              #mainSaveButton:active {
                  background-color: #3e8e41; 
              }
            </style>
            <div style="text-align: center;">
              <button id="mainSaveButton" class="btn btn-secondary" type="submit">Сохранить</button>
            </div>

          </form>
        </div>
        </div>
      </div>
    






      
    <style>
      .stands .card-header {
        background-color: #002534; 
      }
      .accordion-button {
        background-color: #ff7b00;
        color: #333;
        border-color: #496f6b;
      }
      .accordion-button:not(.collapsed) {
        background-color: #bec720;
        color: #333;
        border-color: #de425a;
      }
      .accordion-body {
        background-color: #606465;
      }
    </style>
    
    <div class="col-2 stands">
      <div class="card text-bg-dark mb-3" >
        <div class="card-header">Stand 10</div>
        <div class="card-body">

          <style>
            .commandButton {
                margin-right: 5px;                 
                color: white; 
            }
            .commandButton:hover {
                background-color: #ff7b00; 
            }             
            .commandButton:active {
                background-color: #3e8e41;
            }
        </style>
        <button class="commandButton btn btn-dark" data-command="/reboot/stand10">Reboot</button>
        <button class="commandButton btn btn-dark" data-command="/poweroff/stand10">Power off</button>
        

          <table class="table table-dark table-striped-columns">
            <thead>
                <tr>               
                    <th scope="col">Power status</th>               
                </tr>
            </thead>
            <tbody>
                <tr>                
                    <td><img id="status-image-stand10" src="" alt='Status image' width='100' height='30'></td>
                </tr>             
            </tbody>
        </table>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          function updatePowerStatus10() {
            $.ajax({
                url: '/update_power_status/stand10',
                type: 'get',
                dataType: 'json',
                success: function(response){
                    var status_image = document.getElementById("status-image-stand10");
                    if (response.is_running){
                        status_image.src = "http://10.177.103.10:8000/static/status_on.png";
                    } else {
                        status_image.src = "http://10.177.103.10:8000/static/status_off.png";
                    }
                }
            });
        }   
        $(document).ready(function(){
            updatePowerStatus10(); 
            setInterval(updatePowerStatus10, 5000);
        });
        </script>
          <br></br>
     
          <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">CPU/Mem info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CPU load</td>
                    <td></td>
                    <td id="load_cpu_stand10">{{ load_cpu_stand10 }}</td>
                </tr>
                <tr>
                    <td>RAM load</td>
                    <td></td>
                    <td id="load_ram_stand10">{{ load_ram_stand10 }}</td>
                </tr>
            </tbody>
        </table>
        <br></br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          function loadInfo10() {
              $.ajax({
                  url: "/api/load_info/stand10", 
                  success: function(result) {
                      $("#load_cpu_stand10").html(result.load_cpu_stand10);
                      $("#load_ram_stand10").html(result.load_ram_stand10);
                  }
              });
          }
          $(document).ready(function(){
              loadInfo10(); 
              setInterval(loadInfo10, 3000); 
          });
      </script> 
          
          <div class="accordion" id="accordionstand10">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne10" aria-expanded="true" aria-controls="collapseOne">
                  Статус
                </button>
              </h2>
              <div id="collapseOne10" class="accordion-collapse collapse show" data-bs-parent="#accordionstand10">
                <div class="accordion-body" style="text-align: left;">
                  <strong>Статус: {{ status_stand10 }}</strong> <br>
                  <img src={{ status_gif_stand10 }} alt="stat_pic" width="64" height="64" style="float: right;"> <br>
                  <br>
                  <!-- <br>
                  <br> -->
                  <br>
                  <style>
                    .line-break {
                        white-space: pre-line;
                    }
                  </style>
                  <div class="line-break">
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo10" aria-expanded="false" aria-controls="collapseTwo">
                  Прогресс
                </button>
              </h2>
              <div id="collapseTwo10" class="accordion-collapse collapse" data-bs-parent="#accordionstand10">
                <div class="accordion-body">
                  <style>
                    .line-break {
                        white-space: pre-line;
                        text-align: left;
                    }
                  </style>
                  <div class="line-break">
                    {{ progress_stand10 }}
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree10" aria-expanded="false" aria-controls="collapseThree">
                  Лог
                </button>
              </h2>
              <div id="collapseThree10" class="accordion-collapse collapse" data-bs-parent="#accordionstand10">
                <div class="accordion-body">
                  {{ stand10_log }}
                </div>
              </div>
            </div>

            <br></br>


            <form method="POST" action="/run-command-stand10">
              <style>
                  .btn-start, .btn-stop, .btn-ok {
                      color: #ffffff;
                  }
                  .btn-start {
                      background-color: #465645;
                  }
                  .btn-start:hover {
                      background-color: #47ca6a;
                  }
                  .btn-stop {
                      background-color: #564745;
                  }
                  .btn-stop:hover {
                      background-color: #ca5747;
                  }
                  .btn-ok {
                      background-color: #465645;
                  }
                  .btn-ok:hover {
                      background-color: #47ca6a;
                  }
              </style>
              
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button id="start-btn10" class="btn btn-start" name="command10" type="submit" value="start">Запустить</button>
                  <button id="stop-btn10" class="btn btn-stop" name="command10" type="submit" value="stop">Остановить</button>
              </div>
              <button id="ok-btn10" class="btn btn-ok" style="display: none;" name="command10" type="submit" value="ok">Ок</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    



     

    <div class="col-2 stands">
      <div class="card text-bg-dark mb-3">
        <div class="card-header">Stand 11</div>
        <div class="card-body">

          <button class="commandButton btn btn-dark" data-command="/reboot/stand11">Reboot</button>
          <button class="commandButton btn btn-dark" data-command="/poweroff/stand11">Power off</button>

          <table class="table table-dark table-striped-columns">
            <thead>
                <tr>               
                    <th scope="col">Power status</th>               
                </tr>
            </thead>
            <tbody>
                <tr>                
                    <td><img id="status-image-stand11" src="" alt='Status image' width='100' height='30'></td>
                </tr>             
            </tbody>
        </table>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          function updatePowerStatus11() {
            $.ajax({
                url: '/update_power_status/stand11',
                type: 'get',
                dataType: 'json',
                success: function(response){
                    var status_image = document.getElementById("status-image-stand11");
                    if (response.is_running){
                        status_image.src = "http://10.177.103.10:8000/static/status_on.png";
                    } else {
                        status_image.src = "http://10.177.103.10:8000/static/status_off.png";
                    }
                }
            });
        }
        $(document).ready(function(){
            updatePowerStatus11(); 
            setInterval(updatePowerStatus11, 5000);
        });
        </script>
          <br></br>
          
          <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">CPU/Mem info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CPU load</td>
                    <td></td>
                    <td id="load_cpu_stand11">{{ load_cpu_stand11 }}</td>
                </tr>
                <tr>
                    <td>RAM load</td>
                    <td></td>
                    <td id="load_ram_stand11">{{ load_ram_stand11 }}</td>
                </tr>
            </tbody>
        </table>
        <br></br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          function loadInfo11() {
              $.ajax({
                  url: "/api/load_info/stand11", 
                  success: function(result) {
                      $("#load_cpu_stand11").html(result.load_cpu_stand11);
                      $("#load_ram_stand11").html(result.load_ram_stand11);
                  }
              });
          }
          $(document).ready(function(){
              loadInfo11(); 
              setInterval(loadInfo11, 3000); 
          });
      </script>

          <div class="accordion" id="accordionstand11">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne11" aria-expanded="true" aria-controls="collapseOne">
                  Статус
                </button>
              </h2>
              <div id="collapseOne11" class="accordion-collapse collapse show" data-bs-parent="#accordionstand11">
                <div class="accordion-body" style="text-align: left;">
                  <strong>Статус: {{ status_stand11 }}</strong> <br>
                  <img src={{ status_gif_stand11 }} alt="stat_pic" width="64" height="64" style="float: right;"> <br>
                  <br>
                  <!-- <br>
                  <br> -->
                  <br>
                  <style>
                    .line-break {
                        white-space: pre-line;
                    }
                  </style>
                  <div class="line-break">
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo11" aria-expanded="false" aria-controls="collapseTwo">
                  Прогресс
                </button>
              </h2>
              <div id="collapseTwo11" class="accordion-collapse collapse" data-bs-parent="#accordionstand11">
                <div class="accordion-body">
                  <style>
                    .line-break {
                        white-space: pre-line;
                        text-align: left;
                    }
                  </style>
                  <div class="line-break">
                    {{ progress_stand11 }}
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree11" aria-expanded="false" aria-controls="collapseThree">
                  Лог
                </button>
              </h2>
              <div id="collapseThree11" class="accordion-collapse collapse" data-bs-parent="#accordionstand11">
                <div class="accordion-body">
                  {{ stand11_log }}
                </div>
              </div>
            </div>

            <br></br>


            <form method="POST" action="/run-command-stand11">
              <style>
                  .btn-start, .btn-stop, .btn-ok {
                      color: #ffffff;
                  }
                  .btn-start {
                      background-color: #465645;
                  }
                  .btn-start:hover {
                      background-color: #47ca6a;
                  }
                  .btn-stop {
                      background-color: #564745;
                  }
                  .btn-stop:hover {
                      background-color: #ca5747;
                  }
                  .btn-ok {
                      background-color: #465645;
                  }
                  .btn-ok:hover {
                      background-color: #47ca6a;
                  }
              </style>
              
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button id="start-btn11" class="btn btn-start" name="command11" type="submit" value="start">Запустить</button>
                  <button id="stop-btn1" class="btn btn-stop" name="command11" type="submit" value="stop">Остановить</button>
                  <!-- <button id="ok-btn11" class="btn btn-ok" style="display: none;" name="command11" type="submit" value="ok">Ок</button> -->
              </div>
              <button id="ok-btn2" class="btn btn-ok" style="display: none;" name="command11" type="submit" value="ok">Ок</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    







    <div class="col-2 stands">
      <div class="card text-bg-dark mb-3">
        <div class="card-header">Stand 12</div>
        <div class="card-body">

          <button class="commandButton btn btn-dark" data-command="/reboot/stand12">Reboot</button>
          <button class="commandButton btn btn-dark" data-command="/poweroff/stand12">Power off</button>
          <!-- <button class="commandButton btn btn-dark" data-command="/ilo/stand12">iLO</button> -->
          
            <script>
              $(document).ready(function() {
                $(".commandButton").click(function() {
                  var standNumber, username, password, url;
                  url = $(this).data('command');
              
                  if (url.includes("ilo/stand3")) {
                    standNumber = "stand3";
                    username = "UsernameForStand3";
                    password = "PasswordForStand3";
                    url = "UrlForStand3";
                  } else if (url.includes("ilo/stand4")) {
                    standNumber = "stand4";
                    username = "UsernameForStand4";
                    password = "PasswordForStand4";
                    url = "UrlForStand4";
                  }
              
                  if (url.includes("/ilo/")) {
                    $.ajax({
                      url: url,
                      type: 'POST',
                      success: function(response) {
                        alert(response);
              
                        var usernameInputId, passwordInputId, logonButtonId;
                        if (standNumber === "stand3") {
                          usernameInputId = "usernameInput";
                          passwordInputId = "passwordInput";
                          logonButtonId = "ID_LOGON";
                        } else if (standNumber === "stand4") {
                          usernameInputId = "username";
                          passwordInputId = "password";
                          logonButtonId = "login-form__submit";
                        } else {
                          console.error("Invalid stand number");
                          return;
                        }
              
                        setTimeout(function() {
                          $("#" + usernameInputId).val(username);
                          $("#" + passwordInputId).val(password);
                          $("#" + logonButtonId).click();
                        }, 500);
              
                        setTimeout(function() {
                          $("a:contains('HTML5')").click();
                        }, 5000); 
                      },
                      error: function(error) {
                        console.log(error);
                      }
                    });
                  } else {
                    $.ajax({
                      url: url,
                      type: 'POST',
                      success: function(response) {
                        alert(response);
                      },
                      error: function(error) {
                        console.log(error);
                      }
                    });
                  }
                });
              });
              </script>


          <table class="table table-dark table-striped-columns">
            <thead>
                <tr>               
                    <th scope="col">Power status</th>               
                </tr>
            </thead>
            <tbody>
                <tr>                
                    <td><img id="status-image-stand12" src="" alt='Status image' width='100' height='30'></td>
                </tr>             
            </tbody>
        </table>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          function updatePowerStatus12() {
            $.ajax({
                url: '/update_power_status/stand12',
                type: 'get',
                dataType: 'json',
                success: function(response){
                    var status_image = document.getElementById("status-image-stand12");
                    if (response.is_running){
                        status_image.src = "http://10.177.103.10:8000/static/status_on.png";
                    } else {
                        status_image.src = "http://10.177.103.10:8000/static/status_off.png";
                    }
                }
            });
        }   
        $(document).ready(function(){
            updatePowerStatus12(); 
            setInterval(updatePowerStatus12, 5000);
        });
        </script>
          <br></br>

          <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">CPU/Mem info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CPU load</td>
                    <td></td>
                    <td id="load_cpu_stand12">{{ load_cpu_stand12 }}</td>
                </tr>
                <tr>
                    <td>RAM load</td>
                    <td></td>
                    <td id="load_ram_stand12">{{ load_ram_stand12 }}</td>
                </tr>
            </tbody>
        </table>
        <br></br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          function loadInfo12() {
              $.ajax({
                  url: "/api/load_info/stand12", 
                  success: function(result) {
                      $("#load_cpu_stand12").html(result.load_cpu_stand12);
                      $("#load_ram_stand12").html(result.load_ram_stand12);
                  }
              });
          }
          $(document).ready(function(){
              loadInfo12(); 
              setInterval(loadInfo12, 3000); 
          });
      </script>
          
          <div class="accordion" id="accordionstand12">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne12" aria-expanded="true" aria-controls="collapseOne">
                  Статус
                </button>
              </h2>
              <div id="collapseOne12" class="accordion-collapse collapse show" data-bs-parent="#accordionstand12">
                <div class="accordion-body" style="text-align: left;">
                  <strong>Статус: {{ status_stand12 }}</strong> <br>
                  <img src={{ status_gif_stand12 }} alt="stat_pic" width="64" height="64" style="float: right;"> <br>
                  <br>
                  <!-- <br>
                  <br> -->
                  <br>
                  <style>
                    .line-break {
                        white-space: pre-line;
                    }
                  </style>
                  <div class="line-break">
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo12" aria-expanded="false" aria-controls="collapseTwo">
                  Прогресс
                </button>
              </h2>
              <div id="collapseTwo12" class="accordion-collapse collapse" data-bs-parent="#accordionstand12">
                <div class="accordion-body">
                  <style>
                    .line-break {
                        white-space: pre-line;
                        text-align: left;
                    }
                  </style>
                  <div class="line-break">
                    {{ progress_stand12 }}
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree12" aria-expanded="false" aria-controls="collapseThree">
                  Лог
                </button>
              </h2>
              <div id="collapseThree12" class="accordion-collapse collapse" data-bs-parent="#accordionstand12">
                <div class="accordion-body">
                  {{ stand12_log }}
                </div>
              </div>
            </div>

            <br></br>


            <form method="POST" action="/run-command-stand12">
              <style>
                  .btn-start, .btn-stop, .btn-ok {
                      color: #ffffff;
                  }
                  .btn-start {
                      background-color: #465645;
                  }
                  .btn-start:hover {
                      background-color: #47ca6a;
                  }
                  .btn-stop {
                      background-color: #564745;
                  }
                  .btn-stop:hover {
                      background-color: #ca5747;
                  }
                  .btn-ok {
                      background-color: #465645;
                  }
                  .btn-ok:hover {
                      background-color: #47ca6a;
                  }
              </style>
              
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button id="start-btn12" class="btn btn-start" name="command12" type="submit" value="start">Запустить</button>
                  <button id="stop-btn12" class="btn btn-stop" name="command12" type="submit" value="stop">Остановить</button>
              </div>
              <button id="ok-btn12" class="btn btn-ok" style="display: none;" name="command12" type="submit" value="ok">Ок</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
let prevStatusGifs = [null, null, null];
var start_btns = ["start-btn10", "start-btn11", "start-btn12"].map(id => document.getElementById(id));
var stop_btns = ["stop-btn10", "stop-btn11", "stop-btn12"].map(id => document.getElementById(id));
var ok_btns = ["ok-btn10", "ok-btn11", "ok-btn12"].map(id => document.getElementById(id));

function setStatus(standNum, status) {
    let start_btn = start_btns[standNum-10];
    let stop_btn = stop_btns[standNum-10];
    let ok_btn = ok_btns[standNum-10];
    switch (status) {
        case "Остановлен":
            start_btn.disabled = false;
            start_btn.style.display = "inline-block";
            stop_btn.disabled = true;
            stop_btn.style.display = "inline-block";
            ok_btn.style.display = "none";
            break;
        case "Запущен":
            start_btn.disabled = true;
            start_btn.style.display = "inline-block";
            stop_btn.disabled = false;
            stop_btn.style.display = "inline-block";
            ok_btn.style.display = "none";
            break;
        case "Готово":
            start_btn.style.display = "none";
            stop_btn.style.display = "none";
            ok_btn.style.display = "inline-block";
            break;
        default:
            break;
    }
}

function updateInfo() {
  $.ajax({
          url: '/update_page_info_brest',
          type: 'get',
          dataType: 'json',
          success: function(data) {
              [10, 11, 12].forEach((standNum) => {
                  $('#collapseOne' + standNum + ' .accordion-body strong').html("Статус: " + data['status_stand' + standNum]);
                  if (prevStatusGifs[standNum-10] !== data['status_gif_stand' + standNum]) {
                      $('#collapseOne' + standNum + ' .accordion-body img').attr("src", data['status_gif_stand' + standNum]);
                      prevStatusGifs[standNum-10] = data['status_gif_stand' + standNum];
                  }
                  if(data['status_stand' + standNum] === "Запущен" || data['status_stand' + standNum] === "Готово") {
                    $('#collapseOne' + standNum + ' .accordion-body .line-break').html(data['stand' + standNum + '_sett']);
                  } else {
                    $('#collapseOne' + standNum + ' .accordion-body .line-break').empty();
                  }
                  $('#collapseTwo' + standNum + ' .accordion-body .line-break').html(data['progress_stand' + standNum]);
                  $('#collapseThree' + standNum + ' .accordion-body').html(data['stand' + standNum + '_log']);
                  setStatus(standNum, data['status_stand' + standNum]);
              });
          }
      });
}
$(document).ready(function() {
  updateInfo(); 
  setInterval(updateInfo, 5000); 
});
</script>






{% if test_list %}
<div id="alert" class="alert alert-info" role="alert" style="margin-top: 1rem; max-width: 18%; background-color: #00121a; border-color: #00121a;">
  <img src="http://10.177.103.10:8000/static/31.gif" alt="gif image">
</div>
{% endif %}

<script>
  setTimeout(function() {
    document.getElementById("alert").style.display = "none";
  }, 2000);
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>




<footer>
  <img src=http://10.177.103.10:8000/static/team.gif alt="© QA Team13">
</footer>
</body>
</html>