# # # Ansible configuration # # #

{% for node in groups.databases %}
backend_hostname{{ loop.index0 }} = '{{ hostvars[node].domain_name }}.{{ astra_domain }}'
backend_port{{ loop.index0 }}  = {{ server.pg.port }}
backend_weight{{ loop.index0 }} = 1
backend_data_directory{{ loop.index0 }} = '/var/lib/postgresql/{{ server.pg.version }}/{{ server.pg.db_name }}'
backend_flag{{ loop.index0 }} = 'ALLOW_TO_FAILOVER'
{# https://www.pgpool.net/pipermail/pgpool-general/2020-April/007022.html #}
backend_application_name{{ loop.index0 }} = '{{ hostvars[node].domain_name }}_contrprimer'
health_check_period{{ loop.index0 }} = 2

{% endfor %}
# # # End ansible configuration # # #