# # # Ansible configuration # # #
wd_heartbeat_keepalive = 2
wd_heartbeat_deadtime = 30

{% for node in groups.load_balancers_db %}
heartbeat_hostname{{ loop.index0 }} = '{{ hostvars[node].domain_name }}.{{ astra_domain }}'
heartbeat_port{{ loop.index0 }} = 9694
heartbeat_device{{ loop.index0 }} = ''

{% endfor %}
# # # End ansible configuration # # #