# # # Ansible configuration # # #

{% for node in groups.load_balancers_db %}
hostname{{ loop.index0 }} = '{{ hostvars[node].domain_name }}.{{ astra_domain }}'
pgpool_port{{ loop.index0 }} = {{ server.pg.port }}
wd_port{{ loop.index0 }} = 9000

{% endfor %}
# # # End ansible configuration # # #
#------------------------------------------------------------------------------