{% if server.apache.load_balancing.enabled %}
    {% set fqdn = hostvars[groups.load_balancers_web.0].domain_name +'.'+ astra_domain %}
{% else %}
    {% set fqdn = hostvars[inventory_hostname].domain_name +'.'+ astra_domain %}
{% endif %}
<VirtualHost *:80>
	ServerName {{ fqdn }}
	DocumentRoot /var/www/html/contrprimer

    PassEnv CONTRPRIMER_DB_CONNECT

	Alias /old /var/www/html/contrprimer
	<Directory /var/www/html/contrprimer>
		AuthType Kerberos
		KrbAuthRealms {{ astra_domain | upper }}
		KrbServiceName HTTP/{{ fqdn }}@{{ astra_domain | upper }}
		Krb5Keytab /etc/apache2/http.keytab
		KrbMethodNegotiate on
		KrbSavecredentials on
		KrbMethodK5Passwd off
		Require valid-user

		DirectoryIndex contrprimer.html
		Options +ExecCGI
		AddHandler cgi-script .py

		RequestHeader set MYMACLABEL "%m:%c"
	</Directory>

	
	Alias /django /var/www/html/contrprimer/contrprimer_django/wsgi.py
	<LocationMatch /django*>
		AuthType Kerberos
        KrbAuthRealms {{ astra_domain | upper }}
		KrbServiceName HTTP/{{ fqdn }}@{{ astra_domain | upper }}
        Krb5Keytab /etc/apache2/http.keytab
        KrbMethodNegotiate on
        KrbSavecredentials on
        KrbMethodK5Passwd off
        Require valid-user
		
		SetHandler wsgi-script
		Options +ExecCGI

		RequestHeader set MYMACLABEL "%m:%c"
	</LocationMatch>
	

	Alias /flask /var/www/html/contrprimer/contrprimer_flask/wsgi.py
	<LocationMatch /flask*>
        AuthType Kerberos
        KrbAuthRealms {{ astra_domain | upper }}
        KrbServiceName HTTP/{{ fqdn }}@{{ astra_domain | upper }}
        Krb5Keytab /etc/apache2/http.keytab
        KrbMethodNegotiate on
        KrbSavecredentials on
        KrbMethodK5Passwd off
        Require valid-user

        SetHandler wsgi-script
        Options +ExecCGI

        RequestHeader set MYMACLABEL "%m:%c"
    </LocationMatch>

    
	LogLevel info

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
	
	AddDefaultCharset UTF-8    
	SetEnv PYTHONIOENCODING utf8
</VirtualHost>
