{# GssapiAcceptorName is different from KrbServiceName #}
{% if server.apache.load_balancing.enabled %}
    {% set fqdn = hostvars[groups.load_balancers_web.0].domain_name +'.'+ astra_domain %}
{% else %}
    {% set fqdn = hostvars[inventory_hostname].domain_name +'.'+ astra_domain %}
{% endif %}
<VirtualHost *:80>
	ServerName {{ fqdn }}
	DocumentRoot /var/www/html/contrprimer

    PassEnv CONTRPRIMER_DB_CONNECT
    WSGIApplicationGroup %{GLOBAL}

	Alias /old /var/www/html/contrprimer
	<Directory /var/www/html/contrprimer>
		AuthType GSSAPI
        GssapiAllowedMech krb5
		GssapiAcceptorName HTTP@{{ fqdn }}
		GssapiCredStore keytab:/etc/apache2/http.keytab
		GssapiNegotiateOnce On
		GssapiLocalName on
		GssapiBasicAuth off
        GssapiDelegCcacheDir /tmp
		Require valid-user

		DirectoryIndex contrprimer.html
		Options +ExecCGI
		AddHandler cgi-script .py

        RequestHeader set MYMACLABEL "7:7"
	</Directory>

	
	Alias /django /var/www/html/contrprimer/contrprimer_django/wsgi.py
	<LocationMatch /django*>
		AuthType GSSAPI
        GssapiAllowedMech krb5
		GssapiAcceptorName HTTP@{{ fqdn }}
		GssapiCredStore keytab:/etc/apache2/http.keytab
		GssapiNegotiateOnce On
		GssapiLocalName on
		GssapiBasicAuth off
        GssapiDelegCcacheDir /tmp
        Require valid-user
		
		SetHandler wsgi-script
		Options +ExecCGI

        RequestHeader set MYMACLABEL "7:7"
	</LocationMatch>
	

	Alias /flask /var/www/html/contrprimer/contrprimer_flask/wsgi.py
	<LocationMatch /flask*>
        AuthType GSSAPI
        GssapiAllowedMech krb5
		GssapiAcceptorName HTTP@{{ fqdn }}
		GssapiCredStore keytab:/etc/apache2/http.keytab
		GssapiNegotiateOnce On
		GssapiLocalName on
		GssapiBasicAuth off
        GssapiDelegCcacheDir /tmp
        Require valid-user

        SetHandler wsgi-script
        Options +ExecCGI

        RequestHeader set MYMACLABEL "7:7"
    </LocationMatch>

    
	LogLevel info

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
	
	AddDefaultCharset UTF-8    
	SetEnv PYTHONIOENCODING utf8
</VirtualHost>
