#!/bin/bash

# online_recovery - Восстановление standby ноды в кластер без отключения клиентов во время настройки БД

# v4.3.3
PRIMARY_HOST="$7"
{#PRIMARY_PORT="$4"#}
PRIMARY_PGDATA="$1"

ATTACHED_HOST="$2"
{#DEST_PORT="$6"#}
ATTACHED_PGDATA="$3"
ATTACHED_ID="$5"
#

SSHPASS="sshpass -p {{ ansible_ssh_pass }}"
SSH="$SSHPASS ssh -T -o ControlMaster=auto -o ControlPersist=2m -o GlobalKnownHostsFile=/dev/null \
     -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no {{ ansible_ssh_user }}@$ATTACHED_HOST"


echo "!!! ONLINE RECOVERY START !!!"
echo "ВНИМАНИЕ: подключается нода $ATTACHED_HOST [id:$ATTACHED_ID]"
echo "Ведущий сервер $PRIMARY_HOST"

if [ "{{ server.pg.replication.enabled }}" == "True" ]; then
  $SSH sudo pg_ctlcluster {{ server.pg.version }} {{ server.pg.db_name }} stop
  $SSH sudo rm -rf $ATTACHED_PGDATA

  echo "Начинается копирование данных с мастер ноды..."
  $SSH "sudo -u postgres pg_basebackup -D $ATTACHED_PGDATA \
                         -h $PRIMARY_HOST -p {{ server.pg.port }} -U {{ server.pg.replication.user }} --no-password \
                         -X stream --checkpoint=fast --no-estimate-size --write-recovery-conf --slot='${ATTACHED_HOST//\./_}'"

  $SSH sudo rm -f $ATTACHED_PGDATA/failover
  # Удаление настроек от ведущей ноды (первое появление строк с 'conninfo' и 'slot_name')
  if [ $($SSH "sudo grep 'slot_name' $ATTACHED_PGDATA/postgresql.auto.conf | wc -l") -ge 2 ]; then
    $SSH "sudo sed -i '0,/conninfo/{//d}' $ATTACHED_PGDATA/postgresql.auto.conf"
    $SSH "sudo sed -i '0,/slot_name/{//d}' $ATTACHED_PGDATA/postgresql.auto.conf"
  fi
fi

echo "!!! ONLINE RECOVERY FINISH !!"
exit 0
