<p>
    <table border="1">
      <tbody>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Host Astra version</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{av}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Host Kernel</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{kernel}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>VM Astra version</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{vm_av}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>VM Kernel</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{vm_kernel}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>IODepth: Low/High</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{low}/{high}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>File size</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{file_size}</td>
        </tr>
        <tr>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>ARM</b></td>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">
              <a href="https://life.astralinux.ru/pages/viewpage.action?pageId=192234259">{arm_num}</a>
              <ul>
                  <li>Processor: {arm_proc}</li>
                  <li>Memory: {arm_mem}</li>
                  <li>Storage: {arm_st}</li>
              </ul>
          </td>
        </tr>
      </tbody>
    </table>
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    <h2>Описание</h2>
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    В тесте производится оценка производительности дисковой системы с помощью утилиты fio (Flexible I/O tester).<br/>   
    Тестовый сценарий:<br/>  
    Случайное чтение/запись (random read/write) файлов размером 4 Кб.<br/>   
    Прямой асинхронный ввод/вывод (aio=direct), который минимизирует кэширование в операционной системе для более реалистичной нагрузки на диск.<br/>   
    Операции с различными уровнями глубины очереди (queue-depth), которые определяют количество операций ввода/вывода, ожидающих выполнения.<br/>   
    Конфигурация ВМ:<br/>
    CPU: 16<br/>
    RAM: 32768 Mb<br/>
</p>
