<p>
    <table border="1">
      <tbody>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Astra version</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{av}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Kernel</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{kernel}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Packages</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{package_name_psql}_{package_vers_psql}</br 
                style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{package_name_pgpool}_{package_vers_pgpool}</td>
        </tr>
        <tr>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>ARM</b></td>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">
              <a href="https://life.astralinux.ru/pages/viewpage.action?pageId=192234259">{arm_num}</a>
              <ul>
                  <li>Processor: {arm_proc}</li>
                  <li>Memory: {arm_mem}</li>
                  <li>Storage: {arm_st}</li>
              </ul>
          </td>
        </tr>
      </tbody>
    </table>
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    <h2>Описание</h2>
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    Система нагрузочного тестирования работы PostgreSQL в отказоустойчивом кластере и обновление БД при сохранении доступности.
</p>