<br />
<br />
<h1>Среднее время тестирования</h1>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>№</th>
      <th>FS_XFS</th>
      <th>FS_NTFS</th>
      <th>FS_EXT4</th>
      <th>FS_EXT4 parsec</th>
      <th>PostgreSQL</th>
      <th>Итого</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>stand4</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>5</td>
      <td>12ч</td>
    </tr>
    <tr style="background-color:#f2f7fb;">
      <td>stand3</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>11</td>
      <td>19ч</td>
    </tr>
    <tr>
      <td>stand2</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td></td>
      <td>7ч</td>
    </tr>
    <tr style="background-color:#f2f7fb;">
      <td>stand1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>10ч</td>
    </tr>
  </tbody>
</table>