<p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>dhry2reg: {dhry2reg_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>whetstone-double: {whetstone_double_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>execl: {execl_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>fstime: {fstime_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>fsbuffer: {fsbuffer_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>fsdisk: {fsdisk_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>pipe: {pipe_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>context1: {context1_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>spawn: {spawn_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>shell1: {shell1_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>shell8: {shell8_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>syscall: {syscall_rating}</b></h2></p>
<p><h2 style="font-family: Century Gothic, sans-serif;"><b>System Benchmarks Index Score {total_rating}</b></h2></p>
</p>