<p style="
    font-family: Century Gothic, sans-serif; 
    font-size: 18px; 
    font-weight: bold;
    padding-top: 15px;
">
    Рейтинги:
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 18px; font-weight: bold;">
    1 | Рейтинг расчитанный на web-приложении и нагрузчик (в контейнерах):
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 18px;">
    {rd}
</p>

<p style="font-family: Century Gothic, sans-serif; font-size: 18px; font-weight: bold;">
    2 | Рейтинг расчитанный на web-приложении(в контейнерах) и нагрузчик на хосте:
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 18px;">
    {rl}
</p>

<p style="font-family: Century Gothic, sans-serif; font-size: 18px; font-weight: bold;">
    3 | Рейтинг рассчитанный на web-приложении и нагрузчике (без контейнеров):
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 18px;">
    {rs}
</p>
