<p style="
    font-family: Century Gothic, sans-serif; 
    font-size: 14px; 
">
     <h2>Total ratings:</h2>
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
<h2>1. Приложение в Docker | Нагрузчик в Docker</h2></p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    {rd}
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
<h2>2. Приложение в Docker | Нагрузчик на хосте</h2></p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    {rl}
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
<h2>3. Приложение на хосте | Нагрузчик на хосте</h2></p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    {rs}
</p>
