<p style="
    font-family: Century Gothic, sans-serif; 
    font-size: 16px; 
    font-weight: bold;
    padding-top: 15px;
">
    Рейтинги производительности:
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 16px; font-weight: bold;">
1. Приложение в Docker | Нагрузчик в Docker</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    {rd}
</p>

<p style="font-family: Century Gothic, sans-serif; font-size: 16px; font-weight: bold;">
2. Приложение в Docker | Нагрузчик на хосте</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    {rl}
</p>

<p style="font-family: Century Gothic, sans-serif; font-size: 16px; font-weight: bold;">
3. Приложение на хосте | Нагрузчик на хосте</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    {rs}
</p>
