
        <br />
        <br />
        <h1>Время выполнения прогона для одного ядра. Актуально на 2025-04-24</h1>
        <table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="2" halign="left">1.7</th>
      <th colspan="2" halign="left">1.8</th>
    </tr>
    <tr>
      <th></th>
      <th>stand3</th>
      <th>stand4</th>
      <th>stand3</th>
      <th>stand4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>EXFAT</th>
      <td>4:00:33</td>
      <td></td>
      <td>4:11:43</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT2</th>
      <td>0:59:30</td>
      <td></td>
      <td>1:05:08</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT3</th>
      <td>1:02:06</td>
      <td></td>
      <td>1:05:36</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT4</th>
      <td>0:55:08</td>
      <td></td>
      <td>1:05:53</td>
      <td></td>
    </tr>
    <tr>
      <th>FAT</th>
      <td>1:36:45</td>
      <td></td>
      <td>1:52:32</td>
      <td></td>
    </tr>
    <tr>
      <th>NTFS</th>
      <td>10:39:03</td>
      <td></td>
      <td>10:19:00</td>
      <td></td>
    </tr>
    <tr>
      <th>XFS</th>
      <td>0:53:34</td>
      <td></td>
      <td>1:02:22</td>
      <td></td>
    </tr>
    <tr>
      <th>unix</th>
      <td>1:18:24</td>
      <td></td>
      <td>1:25:51</td>
      <td></td>
    </tr>
    <tr>
      <th>syslog-ng</th>
      <td>3:53:42</td>
      <td></td>
      <td>4:33:43</td>
      <td></td>
    </tr>
    <tr>
      <th>apache-rp</th>
      <td>0:50:19</td>
      <td></td>
      <td>0:59:39</td>
      <td></td>
    </tr>
    <tr>
      <th>parsec impact-fs</th>
      <td>0:46:51</td>
      <td></td>
      <td>0:56:29</td>
      <td></td>
    </tr>
    <tr>
      <th>parsec impact-fs aud-off</th>
      <td>0:47:12</td>
      <td></td>
      <td>0:58:27</td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-f</th>
      <td>1:03:42</td>
      <td></td>
      <td>1:11:08</td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-p</th>
      <td>1:50:42</td>
      <td></td>
      <td>2:26:06</td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-u</th>
      <td>7:24:31</td>
      <td></td>
      <td>6:45:17</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT4 parsec</th>
      <td>0:57:44</td>
      <td></td>
      <td>1:07:49</td>
      <td></td>
    </tr>
    <tr>
      <th>XFS parsec</th>
      <td>0:55:57</td>
      <td></td>
      <td>1:08:37</td>
      <td></td>
    </tr>
    <tr>
      <th>unix parsec</th>
      <td>1:16:35</td>
      <td></td>
      <td>1:27:59</td>
      <td></td>
    </tr>
    <tr>
      <th>FIO</th>
      <td></td>
      <td>1:23:06</td>
      <td></td>
      <td>2:23:15</td>
    </tr>
    <tr>
      <th>FreeIPA auth</th>
      <td></td>
      <td>0:01:25</td>
      <td></td>
      <td>2:06:34</td>
    </tr>
    <tr>
      <th>OCFS2</th>
      <td></td>
      <td>2:51:31</td>
      <td></td>
      <td>3:39:30</td>
    </tr>
    <tr>
      <th>postgresql</th>
      <td></td>
      <td>3:07:49</td>
      <td></td>
      <td>3:28:28</td>
    </tr>
    <tr>
      <th>postgresql-aud-off</th>
      <td></td>
      <td>2:43:08</td>
      <td></td>
      <td>3:11:29</td>
    </tr>
    <tr>
      <th>postgresql-sm</th>
      <td></td>
      <td>3:03:28</td>
      <td></td>
      <td>3:35:53</td>
    </tr>
    <tr>
      <th>psql kernels</th>
      <td></td>
      <td>1:53:58</td>
      <td></td>
      <td>2:23:34</td>
    </tr>
    <tr>
      <th>psql parsec</th>
      <td></td>
      <td>2:51:12</td>
      <td></td>
      <td>3:31:35</td>
    </tr>
    <tr>
      <th>psql vanilla</th>
      <td></td>
      <td>2:29:13</td>
      <td></td>
      <td>1:21:22</td>
    </tr>
    <tr>
      <th>steal time</th>
      <td></td>
      <td>2:48:25</td>
      <td></td>
      <td>3:53:34</td>
    </tr>
    <tr>
      <th>steal time-sm</th>
      <td></td>
      <td>2:51:15</td>
      <td></td>
      <td>3:52:05</td>
    </tr>
    <tr>
      <th>vPingPong</th>
      <td></td>
      <td>1:27:32</td>
      <td></td>
      <td>2:11:04</td>
    </tr>
    <tr>
      <th>vUnixBench</th>
      <td></td>
      <td>2:54:36</td>
      <td></td>
      <td>3:35:21</td>
    </tr>
    <tr>
      <th>psql oom</th>
      <td></td>
      <td>2:15:48</td>
      <td></td>
      <td>1:29:58</td>
    </tr>
    <tr>
      <th>digsig-cdt</th>
      <td></td>
      <td>1:27:36</td>
      <td></td>
      <td>1:42:56</td>
    </tr>
    <tr>
      <th>docker-wa</th>
      <td></td>
      <td></td>
      <td>1:31:47</td>
      <td></td>
    </tr>
    <tr>
      <th>syslog-ng-cwl</th>
      <td></td>
      <td></td>
      <td></td>
      <td>1 day, 8:06:15</td>
    </tr>
    <tr>
      <th>Total time</th>
      <td>1 day 17:12:18</td>
      <td>1 day 10:10:02</td>
      <td>1 day 21:15:06</td>
      <td>3 day 2:32:53</td>
    </tr>
  </tbody>
</table>