<p>
    <table border="1">
      <tbody>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Astra version</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{av}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Kernel</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{kernel}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>Threads/cycles counts</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{concurency}_{counter}</td>
        </tr>
        <tr>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>File System</b></td>
            <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">{fs}</td>
        </tr>
        <tr>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto"><b>ARM</b></td>
          <td style = "background-color: #D9E1F2;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 10px 20px 10px 10px;width: auto">
              <a href="https://life.astralinux.ru/pages/viewpage.action?pageId=192234259">{arm_num}</a>
              <ul>
                  <li>Processor: {arm_proc}</li>
                  <li>Memory: {arm_mem}</li>
                  <li>Storage: {arm_st}</li>
              </ul>
          </td>
        </tr>
      </tbody>
    </table>
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    <h2>Описание</h2>
</p>
<p style="font-family: Century Gothic, sans-serif; font-size: 14px;">
    В тесте производится оценка влияния модулей Parsec на производительность CPU под нагрузкой файловой системы.<br/>
    Flamegraph находится в приложении к данному отчету.<br/>
    Далее будут представлены результаты утилизации CPU утилитой "time" и профилирования.
</p>