
        <br />
        <br />
        <h1>Время выполнения прогона для одного ядра. Актуально на 2025-09-19</h1>
        <table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="6" halign="left">1.7</th>
      <th colspan="6" halign="left">1.8</th>
    </tr>
    <tr>
      <th></th>
      <th>stand10</th>
      <th>stand11</th>
      <th>stand12</th>
      <th>stand13</th>
      <th>stand3</th>
      <th>stand4</th>
      <th>stand10</th>
      <th>stand11</th>
      <th>stand12</th>
      <th>stand13</th>
      <th>stand3</th>
      <th>stand4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>EXFAT</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>4:33:27</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>4:23:13</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:49:59</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:03:57</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:48:53</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:01:08</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT4</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:47:13</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:05:09</td>
      <td></td>
    </tr>
    <tr>
      <th>FAT</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:30:24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:38:21</td>
      <td></td>
    </tr>
    <tr>
      <th>XFS</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:48:12</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:03:23</td>
      <td></td>
    </tr>
    <tr>
      <th>unix</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:07:28</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:22:41</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT4 parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:46:12</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:03:50</td>
      <td></td>
    </tr>
    <tr>
      <th>XFS parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:49:42</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:03:41</td>
      <td></td>
    </tr>
    <tr>
      <th>unix parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:10:29</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:23:14</td>
      <td></td>
    </tr>
    <tr>
      <th>FreeIPA auth</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:09:45</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:01:38</td>
      <td></td>
    </tr>
    <tr>
      <th>postgresql</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>4:32:11</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:26:53</td>
    </tr>
    <tr>
      <th>postgresql-aud-off</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:34:21</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:56:37</td>
    </tr>
    <tr>
      <th>postgresql-sm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>4:22:47</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:36:25</td>
    </tr>
    <tr>
      <th>psql parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:40:49</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:13:15</td>
    </tr>
    <tr>
      <th>psql vanilla</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:34:07</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:47:21</td>
    </tr>
    <tr>
      <th>psql balance</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:01:26</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:46:01</td>
    </tr>
    <tr>
      <th>steal time</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:33:44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:50:43</td>
    </tr>
    <tr>
      <th>steal time-sm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:57:28</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:47:29</td>
    </tr>
    <tr>
      <th>NTFS</th>
      <td>7:52:09</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>10:24:34</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>psql kernels</th>
      <td>1:44:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:15:01</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>OCFS2</th>
      <td>11:50:09</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:13:35</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>parsec impact-fs</th>
      <td></td>
      <td>2:04:49</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:54:24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>parsec impact-fs aud-off</th>
      <td></td>
      <td>0:38:24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:53:04</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>docker-wa</th>
      <td></td>
      <td>1:00:22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:17:55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>FIO</th>
      <td></td>
      <td>1:25:09</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:10:45</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>vPingPong</th>
      <td></td>
      <td>1:05:15</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:43:13</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>vUnixBench</th>
      <td></td>
      <td>2:28:46</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:06:34</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>psql oom</th>
      <td></td>
      <td>0:37:51</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:07:54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>syslog-ng</th>
      <td></td>
      <td></td>
      <td>2:18:38</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>4:35:14</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>apache-rp</th>
      <td></td>
      <td></td>
      <td>0:40:48</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:53:00</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-f</th>
      <td></td>
      <td></td>
      <td>0:47:50</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:09:13</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-p</th>
      <td></td>
      <td></td>
      <td>1:32:19</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:16:14</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-u</th>
      <td></td>
      <td></td>
      <td>7:46:57</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>6:49:08</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>digsig-cdt</th>
      <td></td>
      <td></td>
      <td>0:33:57</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:00:41</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>syslog-ng-cwl</th>
      <td></td>
      <td></td>
      <td></td>
      <td>1 day, 7:06:52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1 day, 7:04:37</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Total time</th>
      <td>21:26:18</td>
      <td>9:20:36</td>
      <td>13:40:29</td>
      <td>1 day 7:06:52</td>
      <td>14:21:44</td>
      <td>21:16:53</td>
      <td>14:53:10</td>
      <td>12:13:49</td>
      <td>17:43:30</td>
      <td>1 day 7:04:37</td>
      <td>17:10:15</td>
      <td>1 day 0:24:44</td>
    </tr>
  </tbody>
</table>