
        <br />
        <br />
        <h1>Время выполнения прогона для одного ядра. Актуально на 2026-03-05</h1>
        <table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="6" halign="left">1.7</th>
      <th colspan="6" halign="left">1.8</th>
    </tr>
    <tr>
      <th></th>
      <th>stand10</th>
      <th>stand11</th>
      <th>stand12</th>
      <th>stand13</th>
      <th>stand3</th>
      <th>stand4</th>
      <th>stand10</th>
      <th>stand11</th>
      <th>stand12</th>
      <th>stand13</th>
      <th>stand3</th>
      <th>stand4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>EXFAT</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:45:15</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>4:12:21</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:38:33</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:54:39</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:38:51</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:55:52</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT4</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:39:11</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:54:48</td>
      <td></td>
    </tr>
    <tr>
      <th>FAT</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:20:17</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:37:25</td>
      <td></td>
    </tr>
    <tr>
      <th>XFS</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:38:37</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:55:03</td>
      <td></td>
    </tr>
    <tr>
      <th>unix</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:07:09</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:20:17</td>
      <td></td>
    </tr>
    <tr>
      <th>EXT4 parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:11:26</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:56:04</td>
      <td></td>
    </tr>
    <tr>
      <th>XFS parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:11:59</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:55:59</td>
      <td></td>
    </tr>
    <tr>
      <th>unix parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:36:19</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:20:07</td>
      <td></td>
    </tr>
    <tr>
      <th>FreeIPA auth</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:11:47</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:25:58</td>
      <td></td>
    </tr>
    <tr>
      <th>FreeIPA c-users</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:46:35</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:21:10</td>
      <td></td>
    </tr>
    <tr>
      <th>postgresql</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>5:05:47</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:22:41</td>
    </tr>
    <tr>
      <th>postgresql-aud-off</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:26:52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:56:19</td>
    </tr>
    <tr>
      <th>postgresql-sm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>5:09:06</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:22:43</td>
    </tr>
    <tr>
      <th>psql parsec</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:38:27</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:11:11</td>
    </tr>
    <tr>
      <th>psql vanilla</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:23:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:58:49</td>
    </tr>
    <tr>
      <th>psql balance</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:47:56</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:20:02</td>
    </tr>
    <tr>
      <th>psql kernels</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:48:56</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:17:25</td>
    </tr>
    <tr>
      <th>steal time</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:27:28</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:19:12</td>
    </tr>
    <tr>
      <th>steal time-sm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:16:49</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:18:25</td>
    </tr>
    <tr>
      <th>NTFS</th>
      <td>7:43:09</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>6:58:14</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>OCFS2</th>
      <td>1:46:47</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:20:48</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>CEPH</th>
      <td>2:38:42</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>3:20:19</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>CEPH fio</th>
      <td>2:18:35</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:43:48</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>CEPH parsec</th>
      <td>4:09:20</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:37:48</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>parsec impact-fs</th>
      <td></td>
      <td>0:36:07</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:35:42</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>parsec impact-fs aud-off</th>
      <td></td>
      <td>0:35:31</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:35:37</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>docker-wa</th>
      <td></td>
      <td>0:59:55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:00:25</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>FIO</th>
      <td></td>
      <td>1:16:36</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:21:28</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>vPingPong</th>
      <td></td>
      <td>0:58:22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:58:49</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>vUnixBench</th>
      <td></td>
      <td>2:19:24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:22:13</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>psql oom</th>
      <td></td>
      <td>0:38:24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:04:24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Dovecot-IMAP</th>
      <td></td>
      <td>3:16:47</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:22:13</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Exim4-SMTP</th>
      <td></td>
      <td>1:42:11</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:28:13</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>AOpenVPNcc</th>
      <td></td>
      <td>8:06:49</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:17:56</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>FIO_large</th>
      <td></td>
      <td>1:17:47</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:21:28</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>syslog-ng</th>
      <td></td>
      <td></td>
      <td>2:19:12</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>2:28:13</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>apache-rp</th>
      <td></td>
      <td></td>
      <td>0:38:45</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:32:51</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-f</th>
      <td></td>
      <td></td>
      <td>0:44:49</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0:45:04</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-p</th>
      <td></td>
      <td></td>
      <td>1:30:01</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:48:50</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>auditd-u</th>
      <td></td>
      <td></td>
      <td>7:46:19</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>6:06:14</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>digsig-cdt</th>
      <td></td>
      <td></td>
      <td>0:32:57</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:22:19</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>InitOnFree</th>
      <td></td>
      <td></td>
      <td>1:30:01</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1:30:01</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>syslog-ng-cwl</th>
      <td></td>
      <td></td>
      <td></td>
      <td>1 day, 6:57:31</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1 day, 6:55:49</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Total time</th>
      <td>18:36:33</td>
      <td>21:47:53</td>
      <td>15:02:04</td>
      <td>1 day 6:57:31</td>
      <td>11:45:59</td>
      <td>1 day 2:04:21</td>
      <td>15:00:57</td>
      <td>15:28:28</td>
      <td>14:33:32</td>
      <td>1 day 6:55:49</td>
      <td>16:49:43</td>
      <td>1 day 3:06:47</td>
    </tr>
  </tbody>
</table>