#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_shlibdeps:
	# Не считаем shlibs для вендорных wheel'ов (numpy/scipy/cryptography и т.п.)
	dh_strip -Xopt/allta_cli/python
override_dh_strip:
	# НЕ трогаем вендорные бинарники внутри /opt (wheels)
	dh_shlibdeps -Xsite-packages
override_dh_auto_install:
	dh_auto_install
	install -d debian/allta/usr/bin
	install -m 755 bootstrap/run.sh debian/allta/usr/bin/allta