{% extends 'main/base.html' %}

{% block title %}Создание сообщения{% endblock %}

{% block content %}

    <!-- Flash сообщения -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="alert alert-success">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <!-- Форма отправки -->
    <form class="form-control d-flex flex-column gap-2">
        <textarea name="content" placeholder="Введите текст сообщения" class="form-control" rows="5"></textarea>
        <button type="submit" class="btn btn-primary">Отправить сообщение</button>
    </form>

    <script src="{{ url_for('static', filename='js/message.js') }}"></script> 
{% endblock %}

